.meal-time{
    display: flex;
    justify-content: center;
}
.shop-container a{
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: large;
}
.meal-time .active{
    color: red;
    border-bottom: 5px solid red;
}
.meal-time .deactivate{
    color: black;
    cursor: pointer;
}
.meal-time li{
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
}