.footer{
    background-color: black;
    margin-top: 20px;
}
.footer-img img{
    width: 150px;
    margin-top: 20px;
    padding-top: 5px;
}
.footer p{
    color: white;
}
.footer-text{
    margin: 20px 0px;
    padding: 5px;
}
    