.food-details img{
    margin-top: 50px;
    height: 500px;
}
.details-text{
    margin-top: 100px;
}
.addButton{
    background-color: red;
    border: none;
    border-radius: 20px;
    color: white;
}
.number-spinner p{
    margin-top: 15px;
}
.number-spinner button{
    font-size: 20px;
    padding: 0px 20px;
    background-color: white;
    border: none;
    outline: none;
}
.number-spinner{
    border: 1px solid lightgray;
    margin-left: 20px;
    border-radius: 20px;
}